*.local
fish/completions
fish/config.fish
fish/fish_variables
ghostty/config
hypr/colors/theme.conf
hypr/hyprpaper.conf
hypr/workspaces.conf
mako/config
nvim/lazy-lock.json
tofi/config
waybar/theme.css
